/result/
flake.lock
config/wm/hyprland/noctalia/noctalia-local/noctalia/plugins/sources/community/repo/.git/
config/wm/hyprland/noctalia/noctalia-local/noctalia/state.toml
config/wm/hyprland/noctalia/noctalia-local/noctalia/clipboard/
